@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{
background-color: #c6e5b1;
}
 header{
    background-color:#a6fb6d; 
    padding: 0em;
    position: relative;
    top:-1.3em;
    left: -0.5em;
    box-shadow: 1px 1px 20px #00353e;
}
#dj{
    position: relative;
    left: 18em;
}
/*
#pesquisa{
    position: relative;
    left: 25em;
    font-size: 1.2em;
    border-radius: 0.5em;
    background-color: #edffe1;
    outline: none;
   border: none;
   box-shadow: 1px 1px 20px #265f00;
}
#pesquisa:focus{
    background-color: white;
    transform: scale(1.1);
    color:#3a9200;
}
#botao{
    position: relative;
    left: 29em;
    font-size: 1.2em;
    border-radius: 0.5em;
    border: none;
    box-shadow: 1px 1px 20px #265f00;
}
#botao:hover{
    transform: scale(1.1);
}
select{
    border-radius: 0.4em;
  position: relative;
  left: 20.5em;
    font-size: 1.2em;
    background-color: #edffe1;
    border: none;
    box-shadow: 1px 1px 20px #265f00;
} */
#cardPrincipal{
    border: solid rgba(28, 153, 223, 0.57) 2.08%;
   width: fit-content;
   border-radius: 1em;
   padding: 1.1em;
    position: relative;
    top: 2em;
    left:36em;
    /* background: linear-gradient(167.44deg, #29B2DD 0%, #33AADD 47.38%, #2DC8EA 100%); */
    /* background: linear-gradient(167.44deg, #08244F 0%, #134CB5 47.38%, #0B42AB 100%); */
    background: linear-gradient(180deg, rgba(28, 153, 223, 0.57) 2.08%, rgba(50, 181, 255, 0.1482) 81.77%);
    /* background-color:  rgba(28, 153, 223, 0.57) ; */
    box-shadow: 1px 1px 20px #00353e;
}
#cardPrincipal #ocultar {
    display: none;
}
#cardPrincipal :hover ~  #ocultar{
    display: block;
    /* background-color: black; */
}
.cardDia{
    border: solid rgba(28, 153, 223, 0.57) 2.08%;
   width: fit-content;
   border-radius: 1em;
   padding: 1.1em;
    position: relative;   
    top: 11em;
    left:3em;
    box-shadow: 1px 1px 20px #00353e;
    background: linear-gradient(180deg, rgba(28, 153, 223, 0.57) 2.08%, rgba(50, 181, 255, 0.1482) 81.77%);
}
#diascorridos{
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
}

.escuro{
    background: linear-gradient(180deg, rgba(12, 11, 1, 0.57) 2.08%, rgba(0, 0, 0, 0.57) 81.77%);
}
h1{
    font-family: 'Secular one';
  
}
h2{
    font-family:'Josefin Sans'
}
h3{
    font-family:'Josefin Sans'
}
pre{
    font-family:'Josefin Sans'
}
p{
    font-family:'Josefin Sans'
}

/* hover, sombra, cabeçalho,  */